.christmas-countdown {
   background: url("./christmas.jpg") no-repeat center/cover fixed;

   .header {
      font-size: 3em;
      letter-spacing: 10px;
      text-shadow: 3px 4px 3px #222;
      font-weight: normal;
   }

   .circles {
      max-width: 1000px;

      .circle {
         width: 150px;
         height: 150px;
         background: rgba(256, 256, 256, 0.2);

         h1, h5 { font-weight: bold; }

         @media screen and (max-width: 992px) {
            width: 100px;
            height: 100px;
 
            h1 { font-size: 1.8em; }
            h5 { font-size: 1.1em; }
         }

         @media screen and (max-width: 576px) {
            width: 80px;
            height: 80px;

            h1, h5 { font-weight: normal; }
            h1 { font-size: 1.8em; }
            h5 { font-size: 0.8em; }
         }
      }
   }

   .snow {
      top: 0;
      left: 0;

      .snowflake {
         background-color: rgba(256, 256, 256, 0.7);
         width: 3px;
         height: 3px;
         z-index: 1000;
      }
   }
}
